 
<!doctype html>
<!--
 Originally used in google cloud walkthrough for using python on runtime linked here : https://cloud.google.com/appengine/docs/standard/python3/building-app/writing-web-service
 This work is only intended as learning tool and would not be used for anything outside the scope of showcasing different algorithms. 
-->

<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Path Finding Visuallization </title>
  <script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
  
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1>Path Finding Examples</h1>
  <div class="NavBar" id ="NavBar" ><!-- style="display: flex; align-items: center; margin-top: 20px;" -->
    
    <h2>Selected Algorithm:</h2>
    <select name="algorithm" id="algorithm" style="margin-left: 20px;">
      {% for header in algorithmHeaders %}
        <option value="{{ header }}">{{ header }}</option>
      {% endfor %}
    </select>
    <button id="generateGrid" style="margin-left: 20px;"> Generate New Grid</button>
    <button id="runAlgorithm" style="margin-left: 20px;">Run Algorithm</button>
    <div class="sliderContainer" style="margin-left: 20px;">
      <label for="delaySlider">Delay (ms):</label>
      <input type="range" min="0" max="50" value="25" class="slider" id="delaySlider" />
      <span id="delayValue">25</span>
    </div>

 </div>

 <div class="DescriptionBar" id="DescriptionBar">
  <h2 id="algoNameDB">Algorithm Name</h2>
  <p class="algorithmDescription"id="algoDescrDB">Algorithm Description</p>
  <div class="complexitySection">
    <p> Time Complexity: <span class="timeComplexity" id="timeComplexity">O(n)</span> </p>
    <p>Space Complexity: <span class="spaceComplexity"id="spaceComplexity">O(1)</span></p>
  </div>
</div>



  <!-- Popup container -->
  <div class="popup-container">
    <span class="popup-close">&times;</span>
    <div class="popup-header"></div>
    <div class="popup-content"></div>
    <div class="popup-itemList">
      <ul>
        <li id="ins1"></li>
        <li id="ins2"></li>
        <li id="ins3"></li>
        <li id="ins4"></li>
      </ul>
    </div>
  </div>


  <!--Welcome Image -->
  <div id="gridImage" style="background-image: url('/static/imgs/path.jpg'); height: 1250px; background-size: cover; margin-top: 5px;"></div>

  <!--After generating grid -->
  <div class="grid" id="grid" style="margin-top: 5px;"></div>
  <div class="bottom-bar">
    <a href="https://github.com/OrtizJohn/pathfindingWebsiteDemo" style="color:rgb(191, 222, 249); margin-left: 45%;">To see the code visit my github page!</a>
  </div>
</body>
</html>